<track>
  <location>{uri}</location>
  <title>{name}</title>
  <creator>{artists[0].name}</creator>
  <album>{album.name}</album>
  <duration>{length}</duration>
  <image>{images[0].url}</image>
</track>
